<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO Chat</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      body{
        background-color: #9bbbd4;
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      form{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        overflow-y: scroll;
        height: calc(100vh - 100px); /* 화면 전체 높이에서 폼 높이를 뺀 값 */
        box-sizing: border-box;
        box-sizing: border-box;
        padding-bottom: 50px; /* 폼의 높이만큼 여백 추가 */
      }
      #nosuper {
        padding: 8px;
        margin-bottom: 6px;
        background: #fef01b;
        border-radius: 20px 20px 20px 20px;
        font-size: 12px;
        width:70%;
        margin-left: auto;
      }
      #super {
        padding: 8px;
        margin-bottom: 6px;
        background: #ffffff;
        border-radius: 20px 20px 20px 20px;
        font-size: 12px;
        width:70%;
      }
      input {
        padding: 20px;
        width: 80%;
      }
      button {
        padding: 8px;
      }
    </style>

  </head>
  <body>
    <button style="width:100%;margin: 8px;"type="button" class="btn btn-danger" id="clear">clear</button>
    <ul id="messages"></ul>


    <form id="form" action="">
      <div class="input-group mb-3">
        <input type="text" id="input" class="form-control" placeholder="내용을 입력하세요." aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary" type="button">전송</button>
        </div>
      </div>

      <!-- <input type="text" class="form-control" id="input" autocomplete="off" /><button type="button" class="btn btn-primary">전송</button> -->
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      const form = document.getElementById("form");
      const input = document.getElementById("input");
      const messages = document.getElementById("messages");

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        if (input.value) {
          const queryString = window.location.search;
          
          const urlParams = new URLSearchParams(queryString);

          // 특정 키의 값 가져오기 예시
          // 예를 들어, URL이 ?k=123&name=John 일 때
          const kValue = urlParams.get('k'); // '123'

          if(kValue == 123){
            socket.emit("chat message", "*"+input.value);
          }else{
            socket.emit("chat message", input.value);
          }
          
          input.value = "";
        }
      });

      const clearBtn = document.getElementById("clear");
      console.log(clearBtn);
      clearBtn.addEventListener("click", function (e) {
        socket.emit("clear", "");
        location.reload(true);
      });

      socket.on("chat messages", function (msgs) {
        
        msgs.forEach(function (msg) {
          const item = document.createElement("li");
          console.log(msg.charAt(9))
          if(msg.charAt(9) == "*"){
            msg = msg.replace("*","");
            item.id = 'super';
          }else{
            item.id = 'nosuper';
          }
          
          item.textContent = msg;

          messages.appendChild(item);
        });
        //window.scrollTo(0, document.body.scrollHeight);
        messages.scrollTop = messages.scrollHeight; // 마지막 메시지로 스크롤
      });

      socket.on("chat message", function (msg) {
        const item = document.createElement("li");
        if(msg.charAt(9) == "*"){
            msg = msg.replace("*","");
            item.id = 'super';
          }else{
            item.id = 'nosuper';
          }

        
        item.textContent = msg;

        messages.appendChild(item);
        //window.scrollTo(0, document.body.scrollHeight);
        messages.scrollTop = messages.scrollHeight; // 마지막 메시지로 스크롤
        document.getElementById("input").focus();
      });
    </script>
  </body>
</html>
